@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="row">
    <div class="col-md-3">
        <h2>FitBit Login</h2>
         <a class="btn btn-default" href="https://www.fitbit.com/oauth2/authorize?response_type=code&client_id=22CNK8&redirect_uri=http%3A%2F%2Fstepeffit.azurewebsites.net&scope=activity%20nutrition%20heartrate%20location%20nutrition%20profile%20settings%20sleep%20social%20weight
">
                        Login Now
                    </a>
    </div>
    <div class="col-md-3">
        <h2>Twitter Login</h2>
        <a class="btn btn-default" href="#">
                        Login Now
                    </a>
    </div>
    <div class="col-md-3">
        <h2>Facebook Login</h2>
        <a class="btn btn-default" href="#">
                        Login Now
                    </a>
    </div>
</div>
