@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="row">
    <div class="col-md-3">
        <h2>FitBit</h2>
         <a class="btn btn-default" href="#">
                        Login Now
                    </a>
    </div>
    <div class="col-md-3">
        <h2>Twitter Login</h2>
        <a class="btn btn-default" href="#">
                        Login Now
                    </a>
    </div>
    <div class="col-md-3">
        <h2>Facebook Login</h2>
        <a class="btn btn-default" href="#">
                        Login Now
                    </a>
    </div>
</div>
